<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<input id="search" name="search" placeholder="Start typing here" type="text" data-toggle="hideseek" data-list=".list" />
<div class="list">
  <div>
    <p>Settlers of Catan</p>
    <p>Description: fun</p>
  </div>
  <div>
    <p>Pandemic</p>
    <p>Description: lazy</p>
  </div>
  <div>
    <p>Monopoly</p>
    <p>Description: exciting</p>
  </div>
</div>

<br>
