<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<input id="search" name="search" placeholder="Start typing here" type="text" data-toggle="hideseek" data-list=".list" />
<ul class="list">
  <li>Settlers of Catan</li>
  <li>Pandemic</li>
  <li>Monopoly</li>
</ul>

<br>
